.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5px;
    background-color: #E4E7EE;
    border-top-color: #000000;
    background: n;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 990px;
    align-items: center;
    height: 800px;
    width: 100%;
    color: #ea3f3f;
}
